<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true">
        <intercept-url pattern="/dashboard" access="hasRole('USER')"/>
        <intercept-url pattern="/login" access="isAnonymous()"/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="encrypt"/>
        </authentication-provider>
    </authentication-manager>


    <beans:bean id="encrypt" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">

    </beans:bean>

</beans:beans>
